<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lurencun.androidkit.sample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity android:name=".SampleActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".cache.CacheDemo" />
        <activity android:name=".db.DbDemo" />
        <activity android:name=".http.HttpDemo" />
        <activity android:name=".uibind.UIBindDemo" />
        <activity android:name=".uilibs.UILibsDemo" />
        <activity android:name=".utils.UtilsDemo" />
        <activity android:name=".uilibs.IntroActivitySample" />
        <activity android:name=".uilibs.AfterSplashActivity" />
        <activity android:name=".uilibs.SplashActivitySample"/>
        <activity android:name=".uilibs.widget.ColorPickerDialogSample" />
        <activity android:name=".db.KVSample" />
        <activity android:name=".http.HttpActivity" />
        <activity android:name=".uibind.UIBindSample" />
        <activity android:name=".cache.BitmapCacheSample" />
        <activity android:name=".utils.ui.ExitDoubleClickSample" />
    </application>

</manifest>